@mixin fontChange($font-size, $line-height, $color) {
    font-size: $font-size;
    line-height: $line-height;
    color: $color;
}

@mixin flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}